*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 32, 32);
    overflow: hidden;
}